#card{
    display: flex;
    margin-top: 50px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.card-body{
    border: 1px solid black;
    border-radius: 20px;
    width: 20%;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 5px 10px 10px ;
    background-color: #7fff00;
    color: #ffffff;

}
.text-white{
    background-color: #00ffff;
}